html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: ' ';
  display: block;
  clear: both; }

@font-face {
  font-family: 'Roboto Thin Italic';
  src: url("../fonts/roboto-thinitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto black';
  src: url("../fonts/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto Bold Italic';
  src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"), url("../fonts/roboto-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@media all and (min-width: 320px) and (max-width: 747px) {
  .wrapper {
    width: 320px;
    margin: 0 auto; }

  header {
    background: url("../img/bkg_header.jpg") no-repeat center center;
    background-color: #999;
    background-size: cover;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 122px; }
    header .header__form {
      width: 165px;
      margin: 0 auto; }
    header .header__form_login {
      font-family: Montserrat, Arial;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      background-color: transparent;
      border: none;
      margin-top: 8px; }
    header .header__form_signup {
      font-family: Montserrat, Arial;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid #fff;
      width: 88px;
      height: 35px;
      margin-right: 10px;
      float: right;
      position: relative;
      border-radius: 17px;
      behavior: url(pie/PIE.htc); }
    header .header__logo {
      font-family: Montserrat, Arial;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      margin: 118px auto 30px;
      width: 200px;
      text-align: center; }
      header .header__logo a {
        text-decoration: none;
        color: #fff; }
    header .header__txtb {
      font-family: Montserrat, Arial;
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      margin: 0 auto;
      width: 285px;
      text-align: center;
      line-height: 36px; }
    header .header__txts {
      font-family: Roboto, Arial;
      font-size: 18px;
      font-weight: normal;
      color: #fff;
      line-height: 20px;
      margin: 10px auto;
      width: 220px;
      text-align: center; }

  .find-btn {
    display: block;
    font-family: Montserrat, Arial;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #ff4e50;
    border: none;
    cursor: pointer;
    padding: 12px 52px;
    margin: 16px auto;
    position: relative;
    border-radius: 20px;
    behavior: url(pie/PIE.htc); }

  .carousel {
    margin-top: 37px; }
    .carousel .jcarousel-wrapper {
      width: 100%; }
      .carousel .jcarousel-wrapper a {
        display: none; }
    .carousel .jcarousel-head {
      font-family: Montserrat, Arial;
      font-size: 22px;
      font-weight: bold;
      color: #333;
      text-align: center;
      margin-bottom: 16px; }
    .carousel .jcarousel {
      width: auto;
      margin: 0 10px; }
      .carousel .jcarousel li {
        position: relative; }
      .carousel .jcarousel .jcarousel-img {
        height: 240px !important;
        width: 100%; }
    .carousel .jcarousel-gradientimg {
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 100%;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
      position: absolute;
      border-radius: 5px;
      behavior: url(pie/PIE.htc); }
    .carousel .jcarousel-txt {
      position: absolute;
      bottom: 17px;
      width: 85%;
      left: 20px; }
      .carousel .jcarousel-txt h3 {
        font-family: Montserrat, Arial;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 15px;
        margin-top: 12px;
        line-height: 28px; }
      .carousel .jcarousel-txt p {
        font-family: Roboto, Arial;
        font-size: 14px;
        font-weight: normal;
        color: #ccc;
        line-height: 16px; }
      .carousel .jcarousel-txt .slider-btn {
        margin: 0;
        font-size: 10px;
        font-weight: normal;
        width: 70px;
        height: 20px;
        padding: 0; }

  article {
    padding-top: 25px; }
    article .article__heading {
      font-family: Montserrat, Arial;
      font-size: 22px;
      font-weight: bold;
      color: #333;
      line-height: 26px;
      padding: 0 40px;
      text-align: center; }
    article .wrapper-article {
      padding: 0 40px; }
    article .article__content {
      margin: 14px 0 17px; }
      article .article__content p {
        font-family: Roboto, Arial;
        font-size: 14px;
        font-weight: normal;
        color: #666;
        padding: 10px 17px;
        line-height: 17px;
        text-align: center; }
    article .article__img {
      text-align: center;
      margin: 0 auto;
      width: 120px;
      height: 120px;
      background-image: url("../img/partner1.jpg");
      position: relative;
      border-radius: 50%;
      behavior: url(pie/PIE.htc); }
    article .article__img.second {
      background-image: url("../img/partner3.jpg"); }
    article .article__img.third {
      background-image: url("../img/partner2.jpg"); }
    article .article__img.fourth {
      background-image: url("../img/partner4.jpg"); }
    article .article__head {
      font-family: Montserrat, Arial;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      text-align: center;
      margin: 19px 0 5px; }
    article .article__img-label {
      position: absolute;
      right: -4px;
      bottom: -5px;
      width: 40px;
      height: 40px; }
    article .label_red {
      background: url("../img/ruler-symbols.png") 0 0 no-repeat; }
    article .label_yellow {
      background: url("../img/ruler-symbols.png") -41px 0 no-repeat;
      right: -2px;
      bottom: -4px; }
    article .label_green {
      background: url("../img/ruler-symbols.png") -82px 0 no-repeat; }
    article .label_blue {
      background: url("../img/ruler-symbols.png") -122px 0 no-repeat;
      right: -2px;
      bottom: -4px; }
    article .article__head.second:after {
      content: "Lucas Marsha"; }
    article .article__head.third:after {
      content: "Heather Walker"; }
    article .article__text.second:after {
      content: "I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards."; }
    article .article__text.third:after {
      content: "I'm a happy person that loves cats and climbing on mountains."; }
    article .article-btn {
      border: 1px solid #ff4e50;
      background-color: #fff;
      color: #ff4e50;
      margin-top: 12px;
      width: 279px;
      height: 39px; }

  main {
    padding-top: 20px; }
    main .main__head, main .search__formhead {
      font-family: Montserrat, Arial;
      font-size: 22px;
      font-weight: bold;
      color: #333;
      text-align: center;
      line-height: 25px; }
    main .main__gallery {
      margin-top: 15px; }
    main .main__gallery-item {
      width: 100%; }
    main .main__gallery-wrapper {
      position: relative;
      margin: 4px 10px; }
      main .main__gallery-wrapper img {
        width: 100%;
        position: relative;
        border-radius: 6px;
        behavior: url(pie/PIE.htc); }
      main .main__gallery-wrapper a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-align: center;
        text-decoration: none;
        font-family: Montserrat, Arial;
        font-size: 22px;
        font-weight: bold;
        color: #fff; }
    main .main__gallery-coverimg {
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      border-radius: 5px;
      behavior: url(pie/PIE.htc); }
    main .search {
      width: 100%;
      margin: 35px auto 0;
      text-align: center; }
      main .search p {
        font-family: Roboto, Arial;
        font-size: 18px;
        font-weight: normal;
        color: #333;
        margin: 15px 0; }
    main .search__input {
      border: 1px solid #ccc;
      outline: none;
      -webkit-appearance: none;
      box-shadow: 0 4px 4px -4px #ccc;
      font-family: Roboto, Arial;
      font-size: 14px;
      font-weight: normal;
      color: #999;
      width: 279px;
      height: 44px;
      padding: 10px;
      vertical-align: top;
      position: relative;
      border-radius: 5px;
      behavior: url(pie/PIE.htc); }
    main .search__submit {
      width: 279px;
      margin-top: 9px; }

  footer {
    margin-top: 40px;
    border-top: 4px solid #ff4e50;
    padding: 18px 0; }
    footer .footer__col {
      margin-bottom: 13px; }
    footer .menu {
      margin-top: 5px;
      text-align: center; }
      footer .menu li {
        display: inline-block;
        padding: 0 10px; }
      footer .menu a {
        text-decoration: none;
        font-family: Roboto, Arial;
        font-size: 14px;
        font-weight: normal;
        color: #666; }
    footer .footer__colhead {
      text-align: center;
      font-family: Montserrat, Arial;
      font-size: 14px;
      font-weight: bold;
      color: #333; }
    footer .redtitle {
      font-size: 16px;
      color: #ff4e50; }
    footer .footer__logodesign {
      font-family: Montserrat, Arial;
      font-size: 10px;
      font-weight: bold;
      color: #ccc;
      text-align: center;
      margin-top: 18px; }
    footer .footer__logo {
      display: block;
      margin: 8px auto;
      text-align: center;
      text-decoration: none;
      max-width: 100%; }
    footer .footer__logo:hover {
      opacity: 0.5; } }
@media all and (min-width: 748px) and (max-width: 939px) {
  .wrapper {
    width: 748px;
    margin: 0 auto;
    position: relative; }

  header {
    background: url("../img/bkg_header.jpg") no-repeat center center;
    background-color: #999;
    background-size: cover;
    color: #fff;
    padding-top: 39px;
    padding-bottom: 199px; }
    header .header__form {
      float: right;
      margin-right: 40px; }
    header .header__form_login {
      font-family: Montserrat, Arial;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      background-color: transparent;
      border: none; }
    header .header__form_signup {
      font-family: Montserrat, Arial;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid #fff;
      width: 88px;
      height: 35px;
      margin-left: 9px;
      position: relative;
      border-radius: 17px;
      behavior: url(pie/PIE.htc); }
    header .header__logo {
      margin-left: 51px;
      line-height: 38px;
      font-family: Montserrat, Arial;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      float: left; }
      header .header__logo a {
        text-decoration: none;
        color: #fff; }
    header .header__txtb {
      font-family: Montserrat, Arial;
      font-size: 52px;
      font-weight: bold;
      color: #fff;
      margin: 139px auto 0;
      width: 500px;
      text-align: center;
      line-height: 63px; }
    header .header__txts {
      font-family: Roboto, Arial;
      font-size: 24px;
      font-weight: normal;
      color: #fff;
      margin: 24px auto 0;
      width: 500px;
      text-align: center; }

  .find-btn {
    display: block;
    font-family: Montserrat, Arial;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #ff4e50;
    border: none;
    cursor: pointer;
    width: 225px;
    height: 39px;
    margin: 36px auto;
    position: relative;
    border-radius: 20px;
    behavior: url(pie/PIE.htc); }

  .carousel {
    margin-top: 97px; }
    .carousel .jcarousel-wrapper {
      width: 236px;
      display: inline-block;
      margin: 10px 16px 0 0; }
    .carousel .jcarousel-wrapper:last-child {
      margin-right: 0; }
    .carousel .jcarousel-head {
      font-family: Montserrat, Arial;
      font-size: 22px;
      font-weight: bold;
      color: #333;
      text-align: center;
      margin-bottom: 25px; }
    .carousel .jcarousel-txt {
      position: absolute;
      bottom: 15px;
      width: 89%;
      left: 19px; }
      .carousel .jcarousel-txt h3 {
        font-family: Montserrat, Arial;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        line-height: 28px;
        margin-bottom: 12px; }
      .carousel .jcarousel-txt p {
        font-family: Roboto, Arial;
        font-size: 14px;
        font-weight: normal;
        color: #ccc;
        line-height: 17px; }
      .carousel .jcarousel-txt .slider-btn {
        margin-left: 2px;
        font-size: 10px;
        font-weight: normal;
        width: 70px;
        height: 20px;
        margin-bottom: 17px; }
    .carousel .jcarousel li {
      position: relative; }
    .carousel .jcarousel .jcarousel-img {
      height: 400px !important;
      width: 100%; }
    .carousel .jcarousel-gradientimg {
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 100%;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
      position: absolute;
      border-radius: 5px;
      behavior: url(pie/PIE.htc); }
    .carousel .jcarousel-control-prev, .carousel .jcarousel-control-next {
      top: 10%; }

  article {
    padding-top: 98px; }
    article .article__heading {
      font-family: Montserrat, Arial;
      font-size: 22px;
      font-weight: bold;
      color: #333;
      text-align: center; }
    article .wrapper-article {
      padding: 0 128px; }
    article .article__content {
      float: left;
      width: 236px;
      margin: 32px 20px 15px 0; }
    article .article__content:nth-child(2), article .article__content:nth-child(4) {
      margin-right: 0; }
    article .article__img {
      text-align: center;
      margin: 0 auto;
      width: 120px;
      height: 120px;
      background-image: url("../img/partner1.jpg");
      position: relative;
      border-radius: 50%;
      behavior: url(pie/PIE.htc); }
    article .article__img.second {
      background-image: url("../img/partner2.jpg"); }
    article .article__img.third {
      background-image: url("../img/partner3.jpg"); }
    article .article__img.fourth {
      background-image: url("../img/partner4.jpg"); }
    article .article__img-label {
      position: absolute;
      right: -5px;
      bottom: -5px;
      width: 40px;
      height: 40px; }
    article .label_red {
      background: url("../img/ruler-symbols.png") 0 0 no-repeat; }
    article .label_green {
      background: url("../img/ruler-symbols.png") -41px 0 no-repeat; }
    article .label_yellow {
      background: url("../img/ruler-symbols.png") -82px 0 no-repeat; }
    article .label_blue {
      background: url("../img/ruler-symbols.png") -122px 0 no-repeat; }
    article .article__head {
      font-family: Montserrat, Arial;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      text-align: center;
      margin: 21px 0 5px; }
    article .article__head.second:after {
      content: "Heather Walker"; }
    article .article__head.third:after {
      content: "Lucas Marsha"; }
    article .article__text {
      font-family: Roboto, Arial;
      font-size: 14px;
      font-weight: normal;
      color: #666;
      padding: 10px 7px;
      line-height: 16px;
      text-align: center; }
    article .article__text.second:after {
      content: "I'm a happy person that loves cats and climbing on mountains."; }
    article .article__text.third:after {
      content: "I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards."; }
    article .article-btn {
      border: 1px solid #ff4e50;
      background-color: #fff;
      color: #ff4e50;
      margin-top: 13px;
      width: 192px;
      height: 40px; }

  main {
    padding-top: 63px;
    padding-bottom: 99px; }
    main .main__head, main .search__formhead {
      font-family: Montserrat, Arial;
      font-size: 23px;
      font-weight: bold;
      color: #333;
      text-align: center; }
    main .main__gallery {
      margin-top: 30px; }
    main .main__gallery-item {
      width: 229px;
      float: left; }
    main .item-width2 {
      width: 458px; }
    main .main__gallery-wrapper {
      position: relative;
      margin: 10px; }
      main .main__gallery-wrapper img {
        width: 100%;
        position: relative;
        border-radius: 6px;
        behavior: url(pie/PIE.htc); }
      main .main__gallery-wrapper a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-align: center;
        text-decoration: none;
        font-family: Montserrat, Arial;
        font-size: 22px;
        font-weight: bold;
        color: #fff; }
    main .search {
      width: 410px;
      margin: 97px auto 0; }
      main .search p {
        font-family: Roboto, Arial;
        font-size: 18px;
        font-weight: normal;
        color: #333;
        margin: 34px 0 40px;
        text-align: center; }
    main .search__input {
      border: 1px solid #ccc;
      outline: none;
      -webkit-appearance: none;
      box-shadow: 0 4px 4px -4px #ccc;
      width: 240px;
      height: 41px;
      padding-left: 15px;
      vertical-align: top;
      font-family: Roboto, Arial;
      font-size: 14px;
      font-weight: normal;
      color: #999;
      position: relative;
      border-radius: 5px;
      behavior: url(pie/PIE.htc); }
    main .search__submit {
      display: inline-block;
      margin: 0 0 0 7px;
      width: 158px;
      height: 40px; }

  footer {
    border-top: 4px solid #ff4e50;
    padding: 38px 0; }
    footer .footer__col {
      float: left;
      width: 172px; }
    footer .footer__col:first-child {
      width: 256px; }
    footer .footer__col:last-child {
      width: 148px; }
    footer .footer__colhead {
      font-family: Montserrat, Arial;
      font-size: 14px;
      font-weight: bold;
      color: #333; }
    footer .redtitle {
      font-size: 16px;
      color: #ff4e50;
      margin-left: 31px; }
    footer .menu {
      margin-top: 15px; }
      footer .menu .menu__item {
        margin-bottom: 8px; }
      footer .menu a {
        text-decoration: none;
        font-family: Roboto, Arial;
        font-size: 14px;
        font-weight: normal;
        color: #666; }
    footer .footer__logodesign {
      font-family: Montserrat, Arial;
      font-size: 10px;
      font-weight: bold;
      color: #ccc;
      text-align: center; }
    footer .footer__logo {
      display: block;
      margin: 9px;
      text-decoration: none;
      max-width: 100%; }
    footer .footer__logo:hover {
      opacity: 0.5; } }
@media all and (min-width: 940px) {
  .wrapper {
    width: 940px;
    margin: 0 auto; }

  header {
    background-color: #999;
    background: url("../img/bkg_header.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    padding-top: 39px;
    padding-bottom: 234px; }
    header .header__form {
      float: right; }
    header .header__form_login {
      font-family: Montserrat, Arial;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      background-color: transparent;
      border: none;
      margin-right: 10px; }
    header .header__form_signup {
      cursor: pointer;
      background-color: transparent;
      border: 1px solid #fff;
      width: 88px;
      height: 35px;
      font-family: Montserrat, Arial;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      position: relative;
      border-radius: 17px;
      behavior: url(pie/PIE.htc); }
    header .header__logo {
      font-family: Montserrat, Arial;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      line-height: 38px;
      float: left; }
      header .header__logo a {
        text-decoration: none;
        color: #fff; }
    header .header__txtb {
      margin: 139px auto 0;
      width: 500px;
      text-align: center;
      line-height: 62px;
      font-family: Montserrat, Arial;
      font-size: 52px;
      font-weight: bold;
      color: #fff; }
    header .header__txts {
      margin: 24px auto 38px;
      width: 500px;
      text-align: center;
      font-family: Roboto, Arial;
      font-size: 24px;
      font-weight: normal;
      color: #fff; }

  .find-btn {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    border: none;
    background-color: #ff4e50;
    width: 225px;
    height: 40px;
    font-family: Montserrat, Arial;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: relative;
    border-radius: 20px;
    behavior: url(pie/PIE.htc); }

  .carousel {
    margin-top: 97px; }
    .carousel .jcarousel-wrapper {
      float: left;
      margin: 36px 20px 0 0;
      width: 300px; }
    .carousel .jcarousel-wrapper.third {
      margin-right: 0; }
    .carousel .jcarousel-head {
      font-family: Montserrat, Arial;
      font-size: 22px;
      font-weight: bold;
      color: #333;
      text-align: center; }
    .carousel .jcarousel-txt {
      position: absolute;
      bottom: 15px;
      width: 90%;
      left: 19px; }
      .carousel .jcarousel-txt .slider-btn {
        margin-left: 2px;
        font-size: 10px;
        font-weight: normal;
        width: 70px;
        height: 20px;
        margin-bottom: 17px; }
      .carousel .jcarousel-txt h3 {
        font-family: Montserrat, Arial;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        line-height: 28px;
        margin-bottom: 12px; }
      .carousel .jcarousel-txt p {
        font-family: Roboto, Arial;
        font-size: 14px;
        font-weight: normal;
        color: #ccc;
        line-height: 17px; }
    .carousel .jcarousel li {
      position: relative; }
    .carousel .jcarousel-gradientimg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 100%;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
      position: absolute;
      border-radius: 5px;
      behavior: url(pie/PIE.htc); }
    .carousel .jcarousel-control-prev, .carousel .jcarousel-control-next {
      top: 152px; }

  article {
    padding-top: 98px; }
    article .article__heading {
      font-family: Montserrat, Arial;
      font-size: 22px;
      font-weight: bold;
      color: #333;
      text-align: center; }
    article .article__content {
      float: left;
      width: 220px;
      margin-top: 34px;
      margin-right: 20px; }
    article .article__content:nth-child(4) {
      margin-right: 0; }
    article .article__img {
      text-align: center;
      margin: 0 auto;
      width: 120px;
      height: 120px;
      background-image: url("../img/partner1.jpg");
      position: relative;
      border-radius: 50%;
      behavior: url(pie/PIE.htc); }
    article .article__img.second {
      background-image: url("../img/partner2.jpg"); }
    article .article__img.third {
      background-image: url("../img/partner3.jpg"); }
    article .article__img.fourth {
      background-image: url("../img/partner4.jpg"); }
    article .article__img-label {
      position: absolute;
      right: -5px;
      bottom: -5px;
      width: 40px;
      height: 40px; }
    article .label_red {
      background: url("../img/ruler-symbols.png") 0 0 no-repeat; }
    article .label_green {
      background: url("../img/ruler-symbols.png") -41px 0 no-repeat; }
    article .label_yellow {
      background: url("../img/ruler-symbols.png") -82px 0 no-repeat; }
    article .label_blue {
      background: url("../img/ruler-symbols.png") -122px 0 no-repeat; }
    article .article__head {
      font-family: Montserrat, Arial;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      text-align: center;
      margin: 21px 0 5px; }
    article .article__head.second:after {
      content: "Heather Walker"; }
    article .article__head.third:after {
      content: "Lucas Marsha"; }
    article .article__text {
      font-family: Roboto, Arial;
      font-size: 14px;
      font-weight: normal;
      color: #666;
      padding: 10px 0;
      text-align: center;
      line-height: 16px; }
    article .article__text.second:after {
      content: "I'm a happy person that loves cats and climbing on mountains."; }
    article .article__text.third:after {
      content: "I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards."; }
    article .article-btn {
      border: 1px solid #ff4e50;
      background-color: #fff;
      color: #ff4e50;
      margin-top: 28px;
      width: 192px;
      height: 40px; }

  main {
    padding-top: 99px;
    padding-bottom: 100px; }
    main .main__head, main .search__formhead {
      font-family: Montserrat, Arial;
      font-size: 23px;
      font-weight: bold;
      color: #333;
      text-align: center; }
    main .main__gallery {
      margin-top: 35px; }
    main .main__gallery-item {
      width: 300px;
      float: left; }
    main .item-width2 {
      width: 600px; }
    main .main__gallery-wrapper {
      position: relative;
      margin: 10px; }
      main .main__gallery-wrapper img {
        width: 100%;
        position: relative;
        border-radius: 6px;
        behavior: url(pie/PIE.htc); }
      main .main__gallery-wrapper a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-align: center;
        text-decoration: none;
        font-family: Montserrat, Arial;
        font-size: 22px;
        font-weight: bold;
        color: #fff; }
    main .search {
      width: 410px;
      margin: 100px auto 0; }
      main .search p {
        font-family: Roboto, Arial;
        font-size: 18px;
        font-weight: normal;
        color: #333;
        margin: 35px 0 40px;
        text-align: center; }
    main .search__input {
      border: 1px solid #ccc;
      outline: none;
      -webkit-appearance: none;
      box-shadow: 0 4px 4px -4px #ccc;
      width: 240px;
      height: 40px;
      padding-left: 15px;
      vertical-align: top;
      font-family: Roboto, Arial;
      font-size: 14px;
      font-weight: normal;
      color: #999;
      position: relative;
      border-radius: 5px;
      behavior: url(pie/PIE.htc); }
    main .search__submit {
      display: inline;
      width: 160px;
      height: 40px;
      margin-left: 6px; }

  footer {
    border-top: 4px solid #ff4e50;
    padding: 38px 0; }
    footer .footer__col {
      float: left;
      width: 140px;
      margin-right: 20px; }
    footer .footer__col:first-child {
      margin-right: 100px; }
    footer .footer__col:last-child {
      float: right;
      margin-right: 0; }
    footer .footer__colhead {
      text-align: left;
      font-family: Montserrat, Arial;
      font-size: 14px;
      font-weight: bold;
      color: #333; }
    footer .redtitle {
      font-size: 16px;
      color: #ff4e50; }
    footer .menu {
      margin-top: 15px; }
      footer .menu a {
        text-decoration: none;
        font-family: Roboto, Arial;
        font-size: 14px;
        font-weight: normal;
        color: #666; }
      footer .menu .menu__item {
        margin-bottom: 8px; }
    footer .footer__logodesign {
      font-family: Montserrat, Arial;
      font-size: 10px;
      font-weight: bold;
      color: #ccc;
      text-align: right; }
    footer .footer__logo {
      display: block;
      text-align: right;
      text-decoration: none;
      max-width: 100%;
      margin-top: 9px; }
    footer .footer__logo:hover {
      opacity: 0.5; } }

/*# sourceMappingURL=main_style.css.map */
