$font_stackM: Montserrat, Arial;
$font_stackR: Roboto, Arial;
$font_fam: Arial;



$color_red: #ff4e50;
$color_white: #fff;

$color_txt_dark: #333;
$color_txt_slider: #ccc;
$color_txt_partners-footer: #666;
$color_txt_placeholder: #999;







